*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
   text-align: center;
   margin: 5px;
}
h1{
    font-size: 40px; 
}
p{
    margin: 20px;
    font-weight: 100;
    font-size: 15px;
}

#legend{
    margin: 20px;
}

#tooltip{
    pointer-events: none;
    border: none;
    border-radius: 10px;
    font: 12px sans-serif;
    padding: 10px;
    background-color: #07f2dc;
    position: absolute;
    text-align: center;
}